@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in {
  from { transform: translateX(100%); opacity: 0.8; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slide-out {
  from { transform: translateX(0); opacity: 1; }
  to { transform: translateX(100%); opacity: 0; }
}

.animate-slide-in {
  animation: slide-in 0.25s ease-out forwards;
}

.animate-slide-out {
  animation: slide-out 0.25s ease-in forwards;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fade-in 0.25s ease-out forwards;
}

  